<%-- any content can be specified here e.g.: --%>
<%@ page pageEncoding="UTF-8" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<h2>Home page</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.<br/>
    Zanim dodasz nowego posta wykonaj <a href="about_me.jsp?p=check">test</a>.<br/>
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<form method='POST' action='/MyBlog/add.do'>
    <label>Tytuł<input name='title' class='form-control' type='text' placeholder='podaj tytuł' value=''/></label><br/>
    <label>Tekst<textarea name='article' class='form-control' rows='10' cols='60' placeholder='wklej treść artykułu' value=''/></textarea></label><br/>
    <label>Autor<input name='author' class='form-control' type='text' placeholder='podpisz się' value=''/></label><br/>
    <input name='add' class='btn btn-default' type='submit' value='Publikuj post...'>
</form>
